<div class="security-container">
  <mat-icon class="security-icon">security</mat-icon>
  <div>{{'all_bus_ratings' | translate}}</div>
</div>
<mat-divider></mat-divider>
<div class="main-container">
  <div class="main-container1">
    <div>{{'buses_list'|translate}}</div>
    <div>{{'sort_by'|translate}}</div>
  </div>
  <div class="main-container2">{{'departure'| translate}}</div>
  <div class="main-container3">{{'duration'| translate}}</div>
  <div class="main-container4">{{'arrivals'| translate}}</div>
  <div class="main-container5">{{'ratings'| translate}}</div>
  <div class="main-container6">{{'fare'| translate}}</div>
  <div class="main-container7">{{'seats_available' | translate}}</div>
</div>
